<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/sbsml.codegen/src/at/ac/tuwien/big/sbsml/codegen/lib/SmartSystemSimulator.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="at.ac.tuwien.big.sbsml.codegen.lib.SmartSystemSimulator"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="sbsml.codegen"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s indoorfarming scenarios/IndoorFarmingScenario.json"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sbsml.codegen"/>
</launchConfiguration>
