<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.emf.henshin.interpreter.ui.ruleLaunchConfigurationType">
<stringAttribute key="INPUT_URI" value="platform:/resource/sbsml.henshin/model/scenario_2_unusedSensorNode.xmi"/>
<stringAttribute key="MODULE_PATH" value="platform:/resource/sbsml.henshin/henshin/sbsml.henshin"/>
<booleanAttribute key="OPEN_COMPARE" value="false"/>
<stringAttribute key="OUTPUT_URI" value="platform:/resource/sbsml.henshin/model/scenario_2_unusedSensorNode_transformed.xmi"/>
<mapAttribute key="PARAMETER_TYPES">
<mapEntry key="duplicateName" value="2"/>
<mapEntry key="nodeName" value="2"/>
</mapAttribute>
<mapAttribute key="PARAMETER_VALUES">
<mapEntry key="duplicateName" value=""/>
<mapEntry key="nodeName" value=""/>
</mapAttribute>
<intAttribute key="UNIT_INDEX" value="1"/>
<stringAttribute key="UNIT_NAME" value="RemoveUnusedSensorNodes"/>
<listAttribute key="UNSET_PARAMETERS"/>
</launchConfiguration>
